.footer {
    padding-top: 70px;
    padding-bottom: 30px;
}

.logo1 img {
    /* margin-top: 0.5rem; */
    width: 75%;
    height: 75%;
    margin-left: 25px;
}
.footer .logo p {
    color: var(--text-color);
}
.social_links span a {
    margin-left: 10px;
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1.2rem;
}
.footerTitle {
    color: var(--heading-color);
    margin-bottom: 1rem;
}
.footer_quickLinks li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
}
.footer_quickLinks h6 span {
    color: var(--secondary-color);
    font-size: 1.2rem;
}
.copyright {
    color: var(--text-color);
    font-size: 1rem;
}
