/* Home Section */
.home {
    height: 100vh; /* Viewport height */
    width: 100%;
    padding: 2.5rem 2rem;
    background: linear-gradient(rgba(0, 0, 1, 0.42), rgba(0, 0, 1, 0.549)),
        url("../assets/images/abc.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .spanText {
        color: white;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .homeTitle {
        color: white;
        padding: 1.5rem 0;
        font-size: 3rem;
        strong {
            font-weight: 800;
        }
    }

    .btn {
        border: 2px solid white;
        color: white;
        font-size: 1.2rem;
        transition: 0.3s;
        padding: 0.8rem 2rem;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: white;
            color: var(--primaryColor);
        }
    }
}

/* Services Section */
.services_subtitle {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primaryColor); /* Adjust color based on your theme */
}

.services_title {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

/* Featured Tour Tile */
.featuredTourTile {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--primaryColor); /* Adjust color based on your theme */
}

/* Experience Content */
.experience_content h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
    color: var(--primaryColor); /* Adjust color based on your theme */
}

.experience_content p {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-top: 1rem;
}

/* Counter Section */
.counter_wrpper {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.counterBox {
    text-align: center;
}

.counterBox span {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary-color);
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.counterBox h6 {
    font-size: 1rem;
    color: var(--text-color);
}

/* Experience Image (Video) */
.expimg video {
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}

/* Testimonial Title */
.test_title {
    font-size: 2.5rem;
    margin-top: 1rem;
    color: var(--primaryColor); /* Adjust color based on your theme */
}
